.mainMenu {
    width: 1280px;
    height: 26px;
    margin: 0 auto;
    margin-top: 5px;

    /* border-bottom: 1px solid rgb(187, 187, 187); */
    font-size: 8pt;
    letter-spacing: 0.5px;
}

.mainMenu>li {
    padding: 5px 6px;
    float: left;
    cursor: pointer;
    border: 1px solid transparent;
}

.mainMenu>li.mainFirst {
    border-right: 1px solid rgb(56, 56, 56);
}

.mainMenu>li.mainQa {
    border-right: 1px solid rgb(56, 56, 56);
    border-left: 1px solid rgb(56, 56, 56);
}

.mainMenu>li.mainMenuOn {
    border: 1px solid orange;
    border-radius: 5px 5px 0 0;
}


.subMenus {
    width: 1280px;
    height: 35px;
    margin: 0 auto;
    letter-spacing: 0.4px;
    border-top: 1px solid rgb(187, 187, 187);
}

.subMenus li {
    width: 70%;
    height: 26px;
    cursor: pointer;
    position: absolute;
    display: none;
    box-sizing: border-box;
    border: 1px solid transparent;
    margin-top: -2px;
}

.subMenus li.subMenuOn {
    display: block;
}

.subMenus li>div,
.subMenus li>p {
    font-size: 8pt;
    padding: 5px 8px;
    cursor: pointer;
    float: left;
}

.subMenus li>p {
    border: 1px solid transparent;
}

.subMenus li>p.subConOn {
    display: block;
    border: 1px solid orange;
    border-radius: 0 0 5px 5px;
}


/* subContent */
.subContent {
    width: 1280px;
    margin: 0 auto;
}

.subContent li {
    display: none;
}

.subContent li.subConActive {
    display: block;
}