.icons {
    font-size: 17pt;
}

.planSub {
    width: 1280px;
    display: flex;
    font-size: 7.7pt;
    letter-spacing: 0.3px;
}

/* eyeTabs */
.eyeMenus {
    width: 6%;
    font-size: 7.7pt;
}

.eyeMenus span {
    width: 91%;
    display: inline-block;
    border-left: 4px solid rgb(207, 207, 207);
    border-bottom: 0.5px solid rgba(88, 88, 88, 0.171);
    padding: 3px 0;
    padding-left: 3px;
    margin-bottom: 1px;
    cursor: pointer;
}

.eyeMenus span.eyeMenuActive,
.eyeMenus span:hover {
    color: orange;
    border-left: 4px solid orange;
    background-color: rgba(207, 207, 207, 0.096);
}

/* -------------------------------------------------------------- */

/* eyeLists */
.planSub ul.eyeContents {
    width: 94%;
    height: 100px;
}

.planSub ul.eyeContents li {
    /* display: none; */
    padding: 3px 5px;
}

.planSub ul li.eyeContentActive {
    display: block;
    background-color: rgba(207, 207, 207, 0.096);
    display: flex;
    /* 위치가 변경되면 안보임! */
}

.planSub .eyeContents .subEyeList {
    padding: 1px;
    position: relative;
}

.planSub .eyeContents li div h5 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0.2em 0;
    font-weight: 500;
    color: rgb(172, 172, 172);
    letter-spacing: 0.5px;
}

/* workSpace */
.planSub .eyeContents .workSpace {
    width: 8%;
    border-right: 1px solid rgb(56, 56, 56);
}

/* .eyeLists .workSpace .eyeSmall, */
.planSub .eyeContents li .eyeSmall p:hover,
.planSub .eyeContents li .eyeSmall p.iconOn {
    border: 1px solid orange;
    background-color: rgb(27, 27, 27);
}

.planSub .eyeContents li .eyeSmall {
    height: 65px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.planSub .eyeContents li div p {
    text-align: center;
    border: 1px solid transparent;
}

.eyeContents div p span {
    display: inline-block;
    padding: 0 0.3em;
    cursor: pointer;
}

/* eyeSelect */
.eyeContents .layout {
    width: 6%;
    border-right: 1px solid rgb(56, 56, 56);
}

.eyeContents .layout div p{
    display: flex;
    font-size: 8pt;
}
.eyeContents .layout div p span.eyeDrop {
    font-size: 8pt;
    margin-top: 36px;
    margin-left: -7px;
    display: inline-block;
}
.eyeContents .layout div p span:nth-child(2) {
    font-size: 8pt;
}

/* eyeModel */
.eyeContents .eyeModel {
    width: 22%;
    border-right: 1px solid  rgb(56, 56, 56);
}

/* newModel */
.eyeContents .eyeModel .eyeSmall .newModel {
    width: 31%;
    border-right: 1px solid rgb(56, 56, 56);
}

.eyeContents .eyeModel .eyeSmall .newOption {
    width: 60%;
    padding: 5px;
}

.eyeContents .eyeModel .eyeSmall .newOption select {
    border: 2px solid rgb(26, 26, 26);
    background-color: rgb(48, 48, 48);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    outline: none;
    cursor: pointer;
    color:white;
}

.eyeContents .eyeModel .eyeSmall .newOption div span {
    color: gray;
    font-size: 10pt;
    margin-right: 8px;
    cursor: pointer;
}

/* eyeTransform */
.eyeContents .eyeTransform {
    width: 42%;
    padding: 5px;
}

.eyeContents .eyeTransform>div {
    display: flex;
}

.eyeContents .eyeTransform div .transIcons {
    display: inline-block;
    width: 20%;
    margin-bottom: 5px;
    font-size: 8pt;
    padding: 2px 3px;
}

.eyeContents .eyeTransform div .transIcons span {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 5px;
}

/* cal */
.eyeContents .eyeTransform div .cal {
    display: flex;
    border-right: 1px solid rgb(56, 56, 56);
    width: 80%;
}

.eyeContents .eyeTransform div .cal>div {
    display: flex;
}

.eyeContents .eyeTransform div .cal div:nth-child(1)>p:nth-child(1) {
    border-left: 1px solid rgb(56, 56, 56);
}

.eyeContents .eyeTransform div .cal div>p>span {
    display: inline-block;
    font-size: 8pt;
    margin-bottom: 3px;
    text-align: left;
    color:white;
}

.eyeContents .eyeTransform div .cal div>p input {
    width: 42px;
    background-color: transparent;
    border: 1px solid rgb(14, 14, 14);
    margin-bottom: 3px;
    outline: none;
    border-radius: 2px;
    background-color: rgb(48, 48, 48);
}

/* tumorModeling */
.eyeContents .tumorModeling {
    width: 37%;
    border-right: 1px solid rgb(56, 56, 56);
}

.eyeContents .tumorModeling .eyeSmall .eyeTumor {
    width: 23%;
}

.eyeContents .tumorModeling .eyeSmall .tumorOption {
    width: 35%;
    padding: 5px;
    border-left: 1px solid rgb(56, 56, 56);
    border-right: 1px solid rgb(56, 56, 56);
}

.eyeContents .tumorModeling .eyeSmall div select {
    border: 2px solid rgb(26, 26, 26);
    width: 100%;
    margin-bottom: 5px;
    outline: none;
    cursor: pointer;
    background-color: rgb(48, 48, 48);
    color:white;
}

.eyeContents .tumorModeling .eyeSmall div>div span {
    color: gray;
    font-size: 10pt;
    margin: 0 5px;
    cursor: pointer;
}

.eyeContents .tumorModeling .eyeSmall .tomoreTabs {
    width: 33%;
    padding: 5px;
}

.eyeContents .tumorModeling .eyeSmall .tomoreTabs>span {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 5px;
}

/* markerPois */
.eyeContents .markerPois {
    width: 32%;
    border-right: 1px solid rgb(56, 56, 56);
}

.eyeContents .markerPois div .poiOption {
    width: 78%;
    border-right: 1px solid rgb(56, 56, 56);
    border-left: 1px solid rgb(56, 56, 56);
    padding: 5px;
}

.eyeContents .markerPois div .poiOption select {
    border: 2px solid rgb(26, 26, 26);
    background-color: rgb(48, 48, 48);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    outline: none;
    cursor: pointer;
    color:white;
}


.eyeContents .markerPois .poiOption>p {
    display: inline;
}

.eyeContents .markerPois .poiOption>p>span {
    color: gray;
    font-size: 10pt;
    margin-right: 0px;
}

/* eyeLast */
.eyeContents .eyeLast {
    width: 4.5%;
}
.eyeContents .eyeLast div p{
    display: flex;
    font-size: 8pt;
}
.eyeContents .eyeLast div p span:nth-child(2){
     font-size: 8pt;
}
.eyeContents .eyeLast div p span.eyeLastIcon {
    font-size: 8pt;
    margin-top: 36px;
    margin-left: -7px;
    display: inline-block;
}