
.subMenus {
    width: 1280px;
    height: 35px;
    margin: 0 auto;
    margin-top: -2px;
    letter-spacing: 0.3px;
}

.subMenus>div {
    width: 70%;
    height: 26px;
    cursor: pointer;

    box-sizing: border-box;
    border: 1px solid transparent;
    margin-top: -2px;

}

.subMenus li.subMenuOn {
    display: block;
}

.subMenus div>div,
.subMenus div>p {
    font-size: 8pt;
    padding: 5px 6px;
    cursor: pointer;
    float: left;
}

.subMenus div>p {
    border: 1px solid transparent;
}

.subMenus div>p:hover,
.subMenus div>p.subConOn {
    display: block;
    border: 1px solid orange;
    border-radius: 0 0 5px 5px;
}

/* subContent */
.subContent {
    width: 1280px;
    margin: 0 auto;
}

.subContent li {
    display: none;
}

.subContent li.subConActive {
    display: block;
}