* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background-color: rgb(20, 20, 20);
  color: rgb(241, 241, 241);
}

.appDiv {
  text-align: center;
  padding: 50px 0;
}
.appDiv>img{
  width: 500px;
  height: 300px;
}