* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background-color: rgb(20, 20, 20);
  color: rgb(241, 241, 241);
}

.topMenu {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.topMenu .topMain {
  width: 1620px;
  margin: 0 auto;

}

.subContainer {
  width: 1620px;
  margin: 0 auto;
  display: flex;
}

.personIdCard {
  width: 300px;
}

.container {
  width: 1580px;
}